
/******************天花板*******************/
header{
    height: 100px;
    background-color: #ECDFD3;
    display: flex;
    justify-content: center;

}
.logo{
    display: flex;
    align-items: center;
}
.logo h1{
    margin-right: 10px;
    font-size: 30px;
}
.logo h2{
    margin-left: 10px;
    font-size: 30px;
}
.logo img{
    height: 100px;
}
header ul{
    border: 1px solid red;
    display: flex;
    padding-right: 30px;

}
/*--------------環球影城 營業時間-----------------*/
.USJbusinesshours{
    /* border: 1px solid red; */
    margin-top: 30px;
    text-align: center;
    line-height: 1.6;
}
.USJbusinesshours h2{
    font-size: 20px;
}
.USJbusinesshours h1{
    font-size: 22px;
    font-weight: 700;
    background-color: #dadadada;
    width: 200px;
    margin: 0 auto;
    border-radius: 10px;
}
.USJbusinesshours h3{
    font-size: 10px;
    line-height: 0.3;
    color: rgb(101, 101, 101); 
}
/*---------------------起床時間----------------------*/
.wakeuptime{
    width: 270px;
    font-size: 28px;
    font-weight: 500;
    background-color: #296799;
    margin: 30px 10px;
    height: 48px;
    display: flex;
    align-items: center; 
    padding-left: 15px;
    color: aliceblue;
    border-left: 10px solid rgb(198, 198, 198);
    border-radius: 2px 10px 10px 2px ;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.4));
}
