.jrharuka .tip .tipul{
    width: 250px;
}
.jrharuka .tip .tipul .li2{
    line-height: 1.6;
}
.place1{
    text-align: center;
    color: rgb(192, 67, 171);
    line-height: 1.3;
}
.place2{
    text-align: center;
    color: rgb(67, 61, 91);
    line-height: 1.3;
}
.place3{
    text-align: center;
    color: rgb(192, 67, 171);
    line-height: 1.3;
    font-size: 25px;
    background-color: #dddddd;
    padding: 8px;
    margin-bottom: 3px;
}
.h2{
    margin-top: 60px;
    color: rgb(33, 45, 100);
}
